:root {
    --primary-white:rgb(255, 255, 255);
    --primary-gray:rgb(134, 128, 128);
    --primary-dark-blue:#191c47;
    --primary-dark-blue-transparent:rgba(25, 28, 71, 0.9);
    --primary-dark-blue-transparent-70:rgba(25, 28, 71, 0.85 );
    --light-blue:rgb(187, 211, 255);

    --purple: rgb(73, 81, 228);
    --transparent-purple:rgba(73, 81, 228, 0.9);

}
*, ::before, *::after {
    box-sizing: border-box;
}



html {

 
}
.dark-link {
    color:var(--primary-dark-blue);
}
.primary-nav .container-x {
    display:flex;
    align-items: center;

}
/* Utilities */
.gap-1 {
    gap:1rem;
}
.gap-1 {
    gap:2rem;
}
.flex {
    display:flex;
}
.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.object-pos-top {
    object-position: top;
}
.object-pos-left {
    object-position: left;
}
.object-pos-bottom {
    object-position: top;
}
.object-pos-center {
    object-position: center;
}

a {
    color:var(--light-blue);
}
body {
 
    font-family: 'Radio Canada', sans-serif;
    min-height: 100vh;
    max-height: 100vh;
    color:var(--primary-white);
  
    
    margin:0;
}
h1 {
    font-size:3rem;
}
.person-name {
    font-size: 1.5rem;
}
h2 {
    position: relative;
    z-index: 100;
    font-size: 3rem;
    line-height: 1.6;
    
}

h3 {
    font-size: 2rem;
    line-height: 1.6;
    margin:0;
}
h4 {
    font-size: 1.2rem;
    margin:0;
}
p {
    line-height: 1.5;
    font-size:1.5rem;
}


.opening-headings {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: var(--purple);
    
    padding:2rem 2rem 15rem 2rem;
}
.opening-headings h2 {
    font-weight: 100;
  
    
}
img {
    width:100%;
    height:100%;
    position: absolute;
    object-fit: cover;
   
   
}

.image-container {
    width:100%;
    height:100%;
    position: relative;
    z-index: 1;

}
.header-content, .about-content {
    display:flex;
    gap:2rem;
    flex-wrap: wrap;


    padding:1rem;

}
.primary-header {
    position: relative;
    display:flex;
    background-image:url(../images/backgrounds/MeWithBackground.JPG);
}
.primary-header .pic-credit {

    display:flex;
    gap:1rem;
    position: absolute;
    bottom:0;
    right:0;
    padding:1rem;
    background-color: var(--primary-dark-blue);
}
.profile-picture {
   
    
    min-height:400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex:1;
    border:.3rem solid var(--primary-white);
}

.container {
    max-width:1100px;
    margin-inline:auto;
    padding:2rem;
}
.container-x {
    height:inherit;
    max-width:1200px;
    margin-inline:auto;
    padding:2rem;
}

.primary-header {
  

  
}
.introduction {
 
    grid-column: 2 / -1;

    max-width:500px;
    padding-top:10rem;
   
}
.introduction-text {

  
  font-weight: 100;
 
}
.primary-nav {
    width:100%;
    position: fixed;
    height:120px;
    z-index:200;
    backdrop-filter: blur(20px);
    scroll-padding: none;
    background-color: var(--primary-dark-blue-transparent);
    
}
.primary-nav__items {
    width:100%;
    height:100%;
    display:flex;
    
    gap:1rem;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    margin:0;
    padding:1rem;
    
}


.primary-nav__items a {
    text-decoration: none;
    text-transform: capitalize;
    color:var(--primary-white);
}


.links-group > *{
    font-size:3rem;
    letter-spacing: 1rem;
    color:var(--primary-white);
    transition: all 150ms ease-in-out;
}


.links-group > *:hover {

    color:var(--primary-gray);
}

.text-box {
  
   
  
    
}

.about-me {
    background-color: var(--primary-dark-blue-transparent);
}
.about-image {
    flex:1;
    width:400px;
    height:400px;
    border-radius: 10px;
    overflow: hidden;
    border:.3rem solid var(--primary-white);
}
.about-content {


    display:flex;
    align-items: center;
 
    flex-wrap:wrap;
 

}

.spotlight-on-weston-super-mare {

    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--primary-dark-blue); */
    background-image: url('../images/birnbeck.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
  
}


.spotlight-on-weston-super-mare::before, .chess::before {
    content:'';
    position: absolute ;
    width:100%;
    height:100%;
    z-index: 0;
    background-color: var(--primary-dark-blue-transparent-70);
  
}
.spotlight-on-weston-super-mare .about-content {
    
    z-index: 12;
    position: relative;
    
}
.spotlight-homepage-image {
   
    width:300px;
    height:300px;
    border:.3rem solid var(--primary-white);
}
.spotlight-image {
    width:200px;
    height:200px;
    border-radius: 50%;
    border:.3rem solid var(--primary-white);
    overflow: hidden;
  
    z-index: 10000;
}

.weston-college-image {
    width:200px;
    height:200px;
}
.my-certifications-header {
    display:flex;
    align-items: center;
    gap:1rem;
}
.badge-cards {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    padding:1rem;

    gap:1rem;
  
}

.badge-card {
    
    display:flex;
    
    width:300px;
    align-items: center;
    gap:1rem;
   
    
}
.badge-card h4 {
    padding:0;
    margin:0;
}
.badge-card p {
    padding:0;
    margin:0;
}
.badge-image {
    
    min-width:100px;
    height:100px;

}
.my-certifications {
    background-color:var(--primary-dark-blue-transparent);
   
}

.achievements-section {
    background-color: var(--primary-dark-blue);
}


.achievements {
    
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:1rem;
}
.achievement {

    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width:300px;
    justify-content: end;
 

}
.btech-image {
    max-width: 400px;
    width:400px;
    height:470px;
    border:.3rem solid var(--primary-white);

}
.qualification {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.qualification-text {

  
    flex-basis: 50%;
}
.achievement-image {

    border:.3rem solid var(--primary-white);

    width:300px;
    height:300px;
}
.UCW-section {
    background-color: var(--primary-dark-blue-transparent);

}

.master-certificate-image {
    width:500px;
   
    aspect-ratio: 16 / 9;
    border:.3rem solid var(--primary-white);
}

.microsoft-certifications {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;

}
.certificate-intro{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    
}
.certificate-intro .text{
    flex-basis:50%;
}
.badge-card.standout {
    flex-basis:47%;
}
.badge-card.standout .badge-image {
    min-width:200px;
    width:200px;
    height:200px;
  
   
  
}

.logo {
    position: static;
    display:block;
    width:300px;
    margin:0;

}
.language-img {
    position: static;
    display:block;
    width:100px;
    margin:0;

}
/* Education section */

.education-section {
    background-color:var(--primary-dark-blue-transparent);
   
}

.education-articles {
    display:flex;
    flex-direction: column;
    gap:5rem;
}


.education-article {
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap:1rem;
}

.education-article:nth-of-type(even) {
    flex-direction: row-reverse;
}
.education-article__description {
    flex:1;
    justify-self: flex-start;
 
    padding:1rem;
    position: relative;
    
}




.education-article-image.student-ambassador {
    max-width:800px;
    width:800px;
    flex:1;
   
  
}
.education-article .main-text {

}
.education-article .title {

}
.article-image {


}
.education-article-image {
    max-width: 400px;
    width:400px;
    height:470px;
    border:.3rem solid var(--primary-white);
}
.education-article-image.student-ambassador-image {
    max-width:none;
    width:100%;


}
.education-article.student-ambassador {

    flex-direction: column;
}
.education-article__description.student-ambassador {
    align-self: flex-start;
}
.education-header {
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    margin-top:5rem;
    margin-bottom: 2rem;;

}
.logo-title {
    
    flex-basis:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.uni-group-image {
    width:100%;
    height:200px;
    margin-bottom: 1rem;
    border:.3rem solid var(--primary-white);
}
.world-skills {
    align-self: flex-start;
}

.education-article.world-skills {

    justify-content: space-evenly;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-image: linear-gradient( to right, rgba(234, 224, 224, 0), rgba(247, 234, 234, 0.75), rgba(247, 242, 242, 0) );
}

.dark-hr {
    margin-top:5rem;
    background-image: linear-gradient( to right, rgba(234, 224, 224, 0), rgba(3, 2, 2, 0.75), rgba(247, 242, 242, 0) );
}

.enlarge-image {
    transition: 500ms all;
}
.enlarge-image:hover {

    transform:scale(1.1);

}

.education:nth-of-type(odd) {
    background-color: var(--primary-dark-blue);
}

footer {
    width:100%;
    padding:1rem;
    text-align: center;
  
    background-color: var(--primary-dark-blue-transparent);
}
.primary-header {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  
    background-color: var(--primary-dark-blue);

    min-height:100vh;
   
    background-size: cover;
    
}

.next-section-btn {


    width:50px;
    margin:1rem;
    height:50px;
    padding:1rem;
    font-size:1.3rem;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-white);
    color: var(--primary-dark-blue);
    border-radius: 50%;
    transition: 200ms all;
  
}

.next-section-btn:hover {
    transform:scale(1.2);
}
.languagesAndFrameworks {
    color:var(--primary-dark-blue);
    background-color: var(--primary-white);
}
.languages {
    align-items: center;
    gap:2rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
 
   
}

.languages > * {
    
}
.languages-title {
    
}
.spotlight-on-weston-super-mare .images {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
}

.facebook-img {
    position: static;
    display:block;
    width:90px;
    margin:0;
    border-radius: 10px;
}

.blockquote {

    font-size: 2rem;
    border-left:4px solid var(--light-blue);
   font-style: italic;
    padding-left:1rem;
}

.row {

 
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    
    gap:2rem;
    z-index: 200;
    position: relative;
}
.mt-5 {
    margin-top:6rem;
}
.col {
    flex:1;

    align-self: center;
}

.udemy-screenshot {
    width:400px;
    height:400px;
}


.contact-me-btn {
    text-decoration: none;
    padding:1rem;
    
    display:inline-block;
    

 
    color:var(--primary-white);
    border: 1px solid var(--primary-white);
    border-radius: 10px;

    transition: 200ms all;
}

.contact-me-btn:hover {
    border:1px solid var(--primary-dark-blue);
    color:var(--primary-dark-blue);
    background-color: var(--primary-white);
    transform:scale(1.2);
}

@media screen and (max-width:760px) {
    
    .hidden-mobile {
        display:none;
    }
}

.piano {
    background-color: var(--primary-dark-blue);
    
}

video {
    width:100%;
    height:100%;
    border-radius: 10px;
}
.chess {

    /* background-color: var(--primary-dark-blue-transparent-70); */
    background-image: url('../images/backgrounds/chess2.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 0;


}
.chess-picture {
    width:500px;
    height:500px;
    border: .3rem solid var(--primary-white);
}

@media screen and (max-width:900px) {

    h1 {
        font-size:2rem;
    }
    .header-content, .about-content {


       
    

    }
    .opening-headings {
        height:min-content;
        background-color: var(--purple);
        padding:1rem 1rem 1rem 1rem;
        clip-path: none;
    }
    .primary-header  {
        display:flex;
        flex-direction: column;
        justify-content: end;
        
    }
 .introduction {

    padding:1rem;
    grid-column: 1 / -1;
    align-self: flex-end;
  
 
    height:fit-content;
    min-width:100%;
            
    }
    .profile-image {
        width:200px;
        height:200px;
    }
}

.reference {
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:1rem;

}
.testimonial-image {
    width:200px;
    border-radius: 50%;
    overflow: hidden;
    height:200px;
}