:root {
    --primary-color:#16631d;
    --primary-color-transparent:rgba(22, 27, 34, .9);
    --secondary-color:#1d641f;
    --tertiary-color:#ffff;
    --white: #ffffffb3;

    --white-solid-border: 1px solid var(--white);

    --white-solid-border: 1px solid var(--white);
}
*, ::before, *::after {
    box-sizing: border-box;
}


.block .fa-solid.fa-map-pin {
  padding:1rem;
}
.block {
  
    font-size:3rem;

   display:none;
    padding:2rem;

    color:var(--tertiary-color);
    text-align: center;
    justify-content: center;
    align-items: center;
   
   
    top:0;
    bottom:0;
    height:fit-content;
    
    margin-top:auto;
    margin-bottom: auto;
    grid-column: 2 / -1;
   
    position: absolute;
    box-shadow: #0d1117 1px 20px 20px 10px;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;   
   
    width:100%;
    
}
html {

    scroll-behavior: smooth;
}

.white-image-border {
    box-shadow: 0 0 0 3px var(--white);
    border: 2px solid var(--white);
    border-radius: 10px;
 
}
.dark-link {
    color:var(--primary-dark-blue);
}
.social {
    background-color: var(--primary-color);
    padding:.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    height:fit-content;
    margin-top:auto;
    margin-bottom: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size:2rem;

    position: absolute;
    top:0;
    left:0;
    bottom:0;
    
}
.social a {
    transition: all 200ms ease-in-out;
}
.social a:hover {
    color:var(--tertiary-color);
}
.primary-nav .container-x {
    display:flex;

    justify-content: space-between;
    align-items: center;
   
    padding-left:1rem;
    padding-right:1rem;

}
/* Utilities */

.fd-c {
    flex-direction: column;
}
.ai-c {
    align-items: center;
}
.fd-r {
    flex-direction: row;
}

.gap-1 {
    gap:1rem;
}
.fw-w {
    flex-wrap: wrap;
}
.gap-1 {
    gap:2rem;
}
.flex {
    display:flex;
}
.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.object-pos-top {
    object-position: top;
}
.object-pos-left {
    object-position: left;
}
.object-pos-bottom {
    object-position: top;
}
.object-pos-center {
    object-position: center;
}

a {
    color:var(--light-blue);
}
body {
 
    font-family: 'Radio Canada', sans-serif;
    min-height: 100vh;
    max-height: 100vh;
    color:var(--white);
  
    margin:0;
   
}
h1 {
    font-size:3rem;
    margin:0;
   
    padding:0;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  

}
.mobile-menu-icon {

    display:flex;
    flex-direction: column;
    gap:0.3rem;
}
.mobile-menu-icon > span {
    width:27px;
    height:3px;
    
    background-color: rgb(13, 240, 240);
  
}
.ta-e {
    align-self: flex-end;
}
.george-icon {
    width:60px;
    height:60px;
    aspect-ratio: 16 / 9;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 1px var(--white);
    border:  var(--white-solid-border);
}
.icon-area {
    display:flex;
    align-items: center;
    flex-shrink: 0;
    gap:1rem;
}
.person-name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
h2 {

    font-family: 'Poppins', sans-serif;
    position: relative;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.6;
    
}

h3 {
    font-size: 1.3rem;
    line-height: 1.6;
    margin:0;
}
h4 {
    font-size: 1.2rem;
    margin:0;
}
p {
    line-height: 1.5;
    font-size:1rem;
    
}


.opening-headings {
    /* -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 45% 75%, 20% 100%, 21% 75%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 45% 75%, 20% 100%, 21% 75%, 0% 75%);    */
     /* background-color: var(--purple); */
    
    padding:2rem;
    padding-bottom: 5rem;
}
.opening-headings h2 {
    font-weight: 100;
  
    
}
img {
    width:100%;
    height:100%;
  
    object-fit: cover;
   
   
}


.header-content, .about-content {
    display:flex;
    gap:2rem;
    flex-wrap: wrap;


    padding:1rem;

}
.primary-header .hero {
    width:500px;
    position: absolute;
   
    height:fit-content;

    margin-top:auto;
    margin-bottom: auto;
 
}


.primary-header img {
    
    max-width:1000px;
  position: absolute;
  bottom:0;
  right:0;
 

  height:fit-content;
}

.primary-header {

    padding-top:80px;
    position: relative;
    display:flex;
   
  
    /* background-image:; */
     background:
         top, transparent black, faked with gradient 

         bottom, image 
        url(../images/backgrounds/MeWithBackground.JPG); 
       
}

.primary-header .pic-credit {

    display:flex;
    gap:1rem;
    align-items: center;
    
    position: absolute;
    bottom:0;
    right:0;
    padding:.5rem;
    font-size: .8rem;
    background-color: var(--secondary-color);
}

.container {
    max-width:1100px;
    margin-inline:auto;
    padding:2rem;
}
.container-x { 
    height:inherit;
    max-width:1200px;
    margin-inline:auto;
    padding:1rem;
}

.introduction {
 
    position: relative;
    align-self: center;
    /* grid-column: 2 / -1; */

    /* max-width:700px; */
    padding-top:10rem;
 

   
}
.introduction-text {
    color:var(--primary-color);
  
  font-weight: 900;
 
}
.primary-nav {
    width:100%;
    position: fixed;
    height: 80px;
    z-index: 2;
    backdrop-filter: blur(20px);
    scroll-padding: none;
    
    background-color: var(--primary-color);
    
}
.relative {
    position: relative;
}
.primary-nav__items {
   
    display:flex;
    margin-left: auto;
    gap:2rem;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
   
}
.primary-nav .sub-menu {
  
    display:none;
    list-style: none;
   

    padding:.5rem;
    top:3.5rem;
    flex-direction: column;
    position: absolute;
    width:max-content;
    left:0;
    right:0;
   
 
    background-color: var(--primary-color);
}
    
.primary-nav li:nth-of-type(3):hover .sub-menu {
    display:flex;
}


.primary-nav__items a {

    display:block;
    
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bolder;
    color:var(--white);
    transition: all 400ms ease-in-out;
    line-height: 1.4;
    font-size: .9rem;
}

.primary-nav__items a:hover {

    color:var(--tertiary-color);
    transform:scale(1.1);
}


.links-group > *{
    font-size:3rem;
    letter-spacing: 1rem;
    color:var(--white);
    transition: all 150ms ease-in-out;
}


.links-group > *:hover {

    color:var(--primary-gray);
}

.about-me {
  
    padding-top:6rem;
    background-color: var(--secondary-color);
}
.about-image {
    
    max-width:400px;
    width:100%;
    height:400px;
    border-radius: 10px;
    overflow: hidden;
    
}
.about-content {


    display:flex;
    align-items: center;
 
    flex-wrap:wrap;
 

}

.spotlight-on-weston-super-mare {

    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/birnbeck.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

  
}


.spotlight-on-weston-super-mare::before, .chess::before {
    content:'';
    position: absolute ;
    width:100%;
    height:100%;

    background-color: var(--primary-color-transparent);
  
}
.spotlight-on-weston-super-mare .about-content {
    

    position: relative;
    
}
.spotlight-homepage-image {
   
    max-width:300px;
    width:100%;
    height:300px;
    border:.3rem solid var(--primary-white);
}
.spotlight-image {
    max-width:200px;
    width:100%;
    height:200px;
    border-radius: 50%;
    border:.3rem solid var(--primary-white);
    overflow: hidden;
  
 
}

.weston-college-image {
    max-width:200px;
    width:100%;
    height:200px;
}
.my-certifications-header {
    display:flex;
    align-items: center;
    gap:1rem;
}
.badge-cards {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    padding:1rem;

    gap:1rem;
  
}

.badge-card {
    
    display:flex;
    
    width:300px;
    align-items: center;
    gap:1rem;
   
    
}
.badge-card h4 {
    padding:0;
    margin:0;
}
.badge-card p {
    padding:0;
    margin:0;
}
.badge-image {
    
    min-width:100px;
    height:100px;

}
.my-certifications {
    background-color:var(--secondary-color);
   
}

.achievements-section {
    padding:6rem;
    background-color: var(--primary-color);
}


.achievements {
    
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:1rem;
}
.achievement {

    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width:300px;
    justify-content: end;
 

}
.btech-image {
    max-width: 400px;
    width:400px;

    border:.3rem solid var(--primary-white);

}
.qualification {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.qualification-text {

  
    flex-basis: 50%;
}
.achievement-image {

    border:.3rem solid var(--primary-white);

    width:300px;
    height:300px;
}
.UCW-section {
    background-color: var(--secondary-color);

}

.master-certificate-image {
    width:500px;
   
    aspect-ratio: 16 / 9;
    border:.3rem solid var(--white);
}

.microsoft-certifications {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;

}
.certificate-intro{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    
}
.certificate-intro .text{
  
}
.badge-card.standout {
    max-width: 400px;
    width: 100%;
}
.badge-card.standout .badge-image {
    min-width:200px;
    width:200px;
    height:200px;
  
   
  
}

.logo-title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    position: static;
    display:block;
    max-width:300px;
    margin:0;

}
.language-img {
    position: static;
    display:block;
    width: 60px;
    margin:0;

}
/* Education section */

.education-section {
    padding-top:2rem;
    background-color:var(--primary-color);
   
}

.education-articles {
    display:flex;
    flex-direction: column;
    gap:5rem;
    
}


.education-article {
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap:1rem;
}

.education-article:nth-of-type(even) {
    flex-direction: row-reverse;
}
.education-article__description {
    flex:1;
    justify-self: flex-start;
 
    padding:1rem;
    position: relative;
    
}






.education-article-image {
    max-width: 400px;

    height:470px;
    border: 2px solid var(--white);
}
.education-article-image.student-ambassador-image {
    max-width:none;
    width:100%;


}
.education-article.student-ambassador {

    flex-direction: column;
}
.education-article__description.student-ambassador {
    align-self: flex-start;
}
.education-header {
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    margin-top:5rem;
    margin-bottom: 2rem;;

}

.uni-group-image {
    width:100%;
    height:200px;
    margin-bottom: 1rem;
    border:.3rem solid var(--primary-white);
}
.world-skills {
    align-self: flex-start;
}

.education-article.world-skills {

    justify-content: space-evenly;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-image: linear-gradient( to right, rgba(234, 224, 224, 0), rgba(247, 234, 234, 0.75), rgba(247, 242, 242, 0) );
}

.dark-hr {
    margin-top:5rem;
    background-image: linear-gradient( to right, rgba(234, 224, 224, 0), rgba(3, 2, 2, 0.75), rgba(247, 242, 242, 0) );
}

.enlarge-image {
    transition: 500ms all;
}
.enlarge-image:hover {

    transform:scale(1.1);

}

.education:nth-of-type(odd) {
    background-color: var(--secondary-color);
}

footer {
    width:100%;
    padding:1rem;
    text-align: center;
  
    background-color: var(--primary-color);
}
.primary-header .container {
    display:flex;
    justify-content: center;
}
.primary-header {
    display:grid;
    /* display:flex;
    justify-content: center; */
    grid-template-columns: repeat(2, 1fr);
/*   

    background-color: var(--primary-color); */

    min-height: 100vh;
    background-image: url(../images/backgrounds/MeWithBackground.JPG);

   
    
    background-position: center; 
     background-size: cover;

    
}

.primary-header::before {
    content:'';
    position: absolute;
    grid-column: 1 / -1;
    width:100%;
    height:100%;
    background-color: rgba(13, 17, 23, .4);
}
.primary-header h1 {
    grid-column: 2 / -1;
    justify-self: center;
    align-self: center;
    margin:2rem;
    width:80%;
    position: relative;
    z-index: 1;
    
   
}
.absolute {
    position: absolute;
    left:1;
    transform: scale(1.34);
}


.next-section-btn {


    width:50px;
    margin:1rem;
    height:50px;
    padding:1rem;
    font-size:1.3rem;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--primary-dark-blue);
    border-radius: 50%;
    transition: 200ms all;
  
}

.next-section-btn:hover {
    transform:scale(1.2);
}
.languagesAndFrameworks {
    padding-top:9rem;
    color:var(--secondary-color);
    background-color: var(--white);
}
.languages {
    align-items: center;
    gap:2rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
 
   
}

.languages > * {
    
}
.languages-title {
    
}
.spotlight-on-weston-super-mare .images {
    display:flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
}

.facebook-img {
    position: static;
    display:block;
    width:90px;
    margin:0;
    border-radius: 10px;
}

.blockquote {

    font-size: 1.3rem;
    border-left:4px solid var(--white);
   font-style: italic;
    padding-left:1rem;
    width:fit-content;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.relative {
    position: relative;
}

.row {

 
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;

    position: relative;
}
.mt-5 {
    margin-top:6rem;
}
.col {

   
    width:500px;
    align-self: center;
}

.udemy-screenshot {
    max-width:600px;
    height:300px;
}


.contact-me-btn {
    text-decoration: none;
    padding:1rem;
    
    display:inline-block;
    

 
    color:var(--secondary-color);
    border: 1px solid var(--primary-white);
    border-radius: 10px;

    transition: 200ms all;
}

.contact-me-btn:hover {
    border:1px solid var(--primary-color);
    color:var(--secondary-color);
    background-color: var(--white);
    transform:scale(1.2);
}

@media screen and (max-width:760px) {
    .row {
        justify-content: center;
    }
    .hidden-mobile {
        display:none;
    }
}

.piano {
    background-color: var(--primary-color);
    
}

video {
    width:100%;
    height:100%;
    border-radius: 10px;
}
.chess {

    /* background-color: var(--primary-dark-blue-transparent-70); */
    background-image: url('../images/backgrounds/chess2.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
  


}
.chess-picture {
    max-width:300px;
    

}
@media screen and (max-width:1000px) {
    .hidden-mobile {
        display:none;
    }
}
@media screen and (max-width:900px) {
 
    
   
    .opening-headings p {
        display:none;
    }
    p {
        font-size:1rem;
    }
    .primary-header h1 {
       
        grid-column: 1 / -1;
        align-self: flex-end;
        font-size: 1.5rem;
    }
    .introduction {
        justify-self: flex-end;
        align-items: flex-end;
    }
    .header-content, .about-content {

        text-align: center;
       
     
        
        padding:0;
   
    }
    
    .contact-me-btn {
        display:none;
    }
    .header-content {
        align-self: flex-end;
        justify-self: end;
    }
    .opening-headings {
        height:min-content;
        
        background-color: var(--primary-color);
        padding: .5rem;
        clip-path: none;
        

    }
  
 .introduction {


    grid-column: 1 / -1;

  
 
    height:fit-content;
    max-width:100%;
    justify-self: end;    
    align-self: flex-end;  
    }
    .profile-image {
        width:200px;
        height:200px;
    }
}
.references {
    margin-top:7rem;
}
.reference-header {
    display:flex;
    align-items: center;
    flex-direction: column;

    padding:1rem;
 
}
.reference {
    display:flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    border: 1px solid var(--white);

}
.reference h3 {
    margin-top:1rem;
}
.reference .row {
    justify-content: center;
}
.testimonial-image {
    width:150px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--white);
    margin-top:-6.5rem;
    height:150px;
}

.contact-me {
    color:var(--primary-color);
}

.contact-form {
    max-width:600px;
    width:100%;
    border: 1px solid #ccc;
    padding:2rem;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    gap:1rem;
    
}
.form-control {
    display:flex;
    flex-direction: column;
   
    line-height: 2;
    

}
.form-control input {
    
    border-radius: 10px;
    border:1px solid #ccc;
    padding:.5rem .5rem .5rem .5rem;
    overflow: hidden;
    padding:.6rem;
}
.form-control input:focus {
  
    outline: none;
    background-color: var(--primary-color);
    color:var(--white);
    overflow: hidden;
}
textarea {
    border:1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding:.6rem;
}
textarea:focus {
    outline:none;
    background-color: hsl(132, 56%, 86%);


}
.send-button {
    padding:1rem;
    border-radius: 5px;
    border:1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color:var(--white);
    transition: all 200ms;
}
.send-button:hover {
    transform:scale(1.01);
    background-color: var(--primary-color);
    cursor: pointer;
}
.contact-info {

    display:flex;
    flex-direction: column;
    gap:1rem;

    font-size:2rem;
}